*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 .BOX{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }
.calculator{
    background: black;
    padding: 20px;
    border-radius: 20px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: -2px -2px 6px  #a2bbcf ;
    background-color:#1d3849 ;
    font-size: 20px;
    cursor: pointer;
    margin:10px;
    color:#a2bbcf ;
}
#operator{
    color: 	white;

}
#AC{
    color: red;
}
#equal{
    width:145px;
    font-size: 20px;
background-color: #205b7a;
color: white;
}
.input{
    margin:20px 0;
    display: flex;
    justify-content: flex-end;
}
#display-input{
text-align: right;
flex:1;
font-size: 45px;
border-radius: 10px;
}
.name{
    color: white;
    display: flex;
  align-items: center;
  justify-content: center;
}
